<div class="main-bk-div">
  <img class="bk1 shadow" src="/assets/bkContact.jpeg" />
</div>

<div class="contact-card">
  <mat-card class="card">
    <div class='header'><h1>Contact Info</h1></div>
    <div>Full name: Akaki Vashakidze</div>
    <div>Mobile number: +995 598 780 075</div>
    <div>Email: akaki.vashakidze1@gmail.com</div>
    <div>
        <a href="https://www.facebook.com/akaki29/"><span>Contact on Facebook</span><mat-icon class="fbIcon">facebook</mat-icon></a>
    </div>
  </mat-card>
</div>


